<<<<<<< HEAD
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
||||||| merged common ancestors
=======
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: lighten( $highlight-color, 35% );

@import "../_admin.scss";
>>>>>>> 4f209a4e63213fa813cf729c7cd0c1788ee72395
