<<<<<<< HEAD
$base-color: #363b3f;
$highlight-color: #e14d43;
$notification-color: #69a8bb;

@import "../_admin.scss";
||||||| merged common ancestors
=======
$base-color: #363b3f;
$highlight-color: #e14d43;
$notification-color: #69a8bb;

@import "../_admin.scss";
>>>>>>> 4f209a4e63213fa813cf729c7cd0c1788ee72395
