<<<<<<< HEAD
$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;

$form-checked: $base-color;

@import "../_admin.scss";
||||||| merged common ancestors
=======
$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;

$form-checked: $base-color;

@import "../_admin.scss";
>>>>>>> 4f209a4e63213fa813cf729c7cd0c1788ee72395
